.info {
    color: #fff;
 
}

a.btn.white-btn {
    background: #fff;
}

.hero-section > div {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: #76a2a294;
    border-radius: 10px;
}

.hero-section > div h1 {
    color: white
}